@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 217 70% 50%;
  --color-secondary: 217 33% 84%;
  --color-background: 220 13% 18%;
  --color-surface: 220 13% 22%;
  --color-surface-light: 220 13% 28%;
  --color-text-primary: 210 20% 98%;
  --color-text-secondary: 220 9% 71%;
  --color-border: 220 13% 35%;
}
